body{
	min-width: 300px !important;
}
img{
overflow: hidden !important;
}
#bkPhoto1 > img{
	width: 96.674% !important;
	height: auto !important;
	margin: auto !important;
	max-width:988px !important;
}
/* may be here will some problem or for margin -50%
and image arent declear by %
 */
#bkPhoto2{
	top: 113.5vw !important;
	left: 6.8493vw !important;
}
/* may be here will some problem or for margin -50%
and image arent declear by %
 */
#bkPhoto3{
	top: 277vw !important;
	left: -83.1703vw  !important;
}
#bln{
	width: 94.82% !important;
	max-width: 930px !important;
}
#bln > div:nth-child(1){
	width: 24.5vw !important;
    height: 24.5vw !important;
	left: 4.8924vw !important;
    top: 29.3542vw !important;
	max-height: 250px;
	max-width: 250px;
}


#bln > div:nth-child(2){
    width: 16.6vw !important;
    height: 16.6vw !important;
    left: 13.6986vw !important;
    top: 54.7945vw !important;
	max-height: 170px;
	max-width: 170px;
}
#bln > div:nth-child(3){
    width: 19.57vw !important;
    height: 19.57vw !important;
    left: 38.1605vw !important;
    top: 73.3855vw !important;
	max-height: 220px;
	max-width: 220px;
}
#bln > div:nth-child(4){
    width: 18.591vw !important;
    height: 18.591vw !important;
    left: 14.677vw !important;
    top: 83.1703vw !important;
	max-height: 190px;
	max-width: 190px;
}
#bln > div:nth-child(5){
    width: 23.484vw !important;
    height: 23.484vw !important;
    left: 34.2466vw !important;
    top: 102.74vw !important;
	max-height: 240px;
	max-width: 240px;
}
#bln > div:nth-child(6){
	width: 22.505vw !important;
    height: 22.505vw !important;
    left: 2.9354vw !important;
    top: 190.8vw !important;
	max-height: 230px;
	max-width: 230px;
}
#bln > div:nth-child(7){
	width: 19.57vw !important;
    height: 19.57vw !important;
    left: 29.3542vw !important;
    top: 205.479vw !important;
	max-height: 200px;
	max-width: 200px;
}
#bln > div:nth-child(8){
    width: 21.527vw !important;
    height: 21.527vw !important;
    left: 58.7084vw !important;
    top: 249.511vw !important;
	max-height: 220px;
	max-width: 220px;
}
#bln > div:nth-child(9){
	width: 18.591vw !important;
    height: 18.591vw !important;
    left: 75.3209vw !important;
    top: 264.188vw !important;
	max-height: 190px;
	max-width: 190px;
}
#bln > div:nth-child(10){
    width: 29.355vw !important;
    height: 29.355vw !important;
    left: 14.6771vw !important;
    top: 293.542vw !important;
	max-height: 300px;
	max-width: 300px;
}
#bln > div:nth-child(11){
    width: 19.57vw !important;
    height: 19.57vw !important;
    left: 28.3757vw !important;
    top: 322.896vw !important;
	max-height: 200px;
	max-width: 200px;
}
#wrapper-inner {
	margin-left: auto !important;
	left: auto !important;
    margin: auto !important;
    width: 91% !important;
    max-width: 930px !important;
	position: relative !important;
	
}
#sitehead > h1 > img{
	width: 84.8% !important;
	height: auto !important;
	max-width: 900px !important;
	margin: auto;
}
#news1{
	top: 38.1605vw !important;
    left: 44.0313vw !important;
}
#news2{
    top: 32.2896vw !important;
    left: 66.5362vw !important;
}
	
/* 
#idx-cont_fig01 > div.idx-bkTop > img,
#idx-cont_fig02 > div.idx-bkTop > img,
#idx-cont_fig03 > div.idx-bkTop > img,
#idx-cont_fig04 > div.idx-bkTop > img,
#idx-cont_fig05 > div.idx-bkTop > img,
#idx-cont_fig01 > div.idx-bkBtm > img,
#idx-cont_fig02 > div.idx-bkBtm > img,
#idx-cont_fig03 > div.idx-bkBtm > img,
#idx-cont_fig04 > div.idx-bkBtm > img,
#idx-cont_fig05 > div.idx-bkBtm > img{
	width: 100% !important;
}
 */
.idx-figCont{
	width: 82% !important;
	padding: 8.23% 8.84% 10.62% 8.84% !important;
}
.figImg{
	margin-bottom: 0.8vw !important;
}
.figTi{
	margin-bottom: 1.7578vw !important;
	font-weight: bold;
}
.figCopy {
	margin-bottom: 6.55vw !important;
}
.figTxt {
	margin-bottom: 1.7vw !important;
}
/* .idx-figCont .nav ul li{
	height: 1.6vw !important;
    padding: .25vw 0 0 2vw !important;
    margin: 0 .78vw .8vw 0 !important;
} */
#idx-cont_fig01{
    width: 36.4% !important;
    top: 55.773vw !important;
    left: 58.7084vw !important;
}
#idx-cont_fig02{
    width: 55.1616% !important;
    top: 123.875vw !important;
    left: 0 !important;
}
#idx-cont_fig03{
	width: 40.58% !important;
    top: 182.9vw !important;
    left: 56.67vw !important;
}
#idx-cont_fig04{
	width: 58.6% !important;
	top: 225vw !important;
    left: 0.9vw !important;
}
#idx-cont_fig04 .idx-figCont{
	padding-top: 5.7vw !important;
    padding-bottom: 14.5vw !important;
}
#idx-cont_fig04 > article > div > div.figCopy{
	margin-bottom: 1.7vw !important;
}
#idx-cont_fig05{
	width: 42.47% !important;
	top: 290.757vw !important;
    left: 48.923vw !important;
}
.figCopy > p {
	font-weight: bold !important;
}

#idx-cont_fig02 > div.idx-bkMid,
#idx-cont_fig05 > div.idx-bkBtm > img,
#idx-cont_fig05 > div.idx-bkTop > img,
#idx-cont_fig04 > div.idx-bkBtm > img,
#idx-cont_fig04 > div.idx-bkTop > img,
#idx-cont_fig03 > div.idx-bkBtm > img,
#idx-cont_fig03 > div.idx-bkTop > img,
#idx-cont_fig02 > div.idx-bkBtm > img,
#idx-cont_fig02 > div.idx-bkTop > img,
#idx-cont_fig01 > div.idx-bkBtm > img,
#idx-cont_fig01 > div.idx-bkTop > img{
	width: 100% !important;
}
#footObj {
    width: 90% !important;
    min-width: 300px !important;
	margin: 5% 5% 0 0 !important;
    text-align: center !important;
    left: 5% !important;
	height: auto !important;
}
#tree{
	top: 4.8828vw !important;
    left: 68.36vw !important;
}
#bird1{
	top: 24.42vw !important;
    left: 16.6vw !important;
}
#bird2{
	top: 41vw !important;
	left: 68.36vw !important;
}
.entry-header{
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
}
.entry-title {
	font-weight: bold;
	font-size: 40px;
}
.entry-content {
	width: 80%;
	margin: auto;
}
#post-84 > div > p {
	width: 100% !important;
}
#btmArticle {
	width: 100% !important;
}
#btmArticle > section > p > img,
#mapDiv > div > div:nth-child(1) > div:nth-child(3){
	width: 100% !important;
	height: auto !important;
}
#columNav {
	width: 100% !important;	
}
#tiLine > img {
	width: 100% !important;	
}
#logo{
    left: 31% !important;
    margin-left:0 !important;
    top: 37.6vw !important;
	margin: auto !important;
	 
}
@media screen and (max-width: 768px) {
	#bkPhoto2,
	#tree,
	#bird2,
	#bird1,
	#bkPhoto3,
	#bln,
	#bkPhoto2 > img,
	#bkPhoto3 > img,
	#bln > div:nth-child(1) > img,
	#bln > div:nth-child(2) > img,
	#bln > div:nth-child(3) > img,
	#bln > div:nth-child(4) > img,
	#bln > div:nth-child(5) > img,
	#bln > div:nth-child(6) > img,
	#bln > div:nth-child(7) > img,
	#bln > div:nth-child(8) > img,
	#bln > div:nth-child(9) > img,
	#bln > div:nth-child(10) > img,
	#bln > div:nth-child(11) > img,
	#bln > div:nth-child(1),
	#bln > div:nth-child(2),
	#bln > div:nth-child(3),
	#bln > div:nth-child(4),
	#bln > div:nth-child(5),
	#bln > div:nth-child(6),
	#bln > div:nth-child(7),
	#bln > div:nth-child(8),
	#bln > div:nth-child(9),
	#bln > div:nth-child(10),
	#bln > div:nth-child(11),
	.blnImg{
	visibility: hidden !important;
	left: -100px !important;
	width: 0px !important;
	}
	.figCopy{
		margin-top: 6.5vw;
	}
	#idx-cont_fig01 > article > div > div.figCopy{
		margin-top: 15.5vw !important;
	}
	#idx-cont_fig01,
	#idx-cont_fig02,
	#idx-cont_fig03,
	#idx-cont_fig04,
	#idx-cont_fig05{
		width: 100% !important;
		margin: auto !important;
		max-width: 380px !important;
		left: auto !important;
	}
	#news1{
	left: 2vw !important;
	top: 50vw !important;
	}
	#news2{
		left: 40vw !important;
		top: 60vw !important;
	}
	#idx-cont_fig01{
		top: 100vw !important;
	}
	#idx-cont_fig02{
		top: 315vw !important;
	}
	#idx-cont_fig03{
		top: 500vw !important;
	}
	#idx-cont_fig04{
		top: 647vw !important;
	}
	#idx-cont_fig05{
		top: 805vw !important;
	}
	#idx-cont_fig04 > div.idx-bkBtm > img{

	}
	ul{
		margin: 5px !important;
	}
	#footObj {
    width: 88% !important;
	margin: auto !important;
	}
	#logo {
	left: auto !important;
	width: 100% !important;
	margin: auto !important;
	max-width: 346.391px !important;
	position: relative !important;
	top: 80.6vw !important;
	}

}

@media screen and (min-width: 1059px){
	#bln > div:nth-child(9){
		    left: 70.3209vw !important;
	}
}